@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

html {
  --main-color: #0079ff;
  --background-color-1: #f6f8ff;
  --background-color-2: #fefefe;
  --heading-color: #222731;
  --text-color-1: #2b3442;
  --text-color-2: #697c9a;
  --text-color-3: #4b6a9b;
  --shadow: rgba(70, 96, 187, 0.2);
  font-size: 62.5%;
}

html.dark {
  --main-color: #0079ff;
  --background-color-1: #141d2f;
  --background-color-2: #1e2a47;
  --heading-color: #fff;
  --text-color-1: #fff;
  --text-color-2: #fff;
  --text-color-3: #fff;
  --shadow: transparent;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: var(--background-color-1);
  min-height: 100vh;
  display: grid;
  place-content: center;
}

main {
  max-width: 730px;
  margin-inline: 24px;
}
